.debt-tracker {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .debt-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .debt-form label {
    margin-right: 10px;
  }
  
  .debt-form input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .debt-form button {
    border-radius: 5px;
    border: none;
    background-color: #1d93c2;
    color: #fff;
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .debt-form button:hover {
    background-color: #454ad2;
  }
  
  .debt-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .debt-list th,
  .debt-list td {
    text-align: left;
    padding: 8px;
  }
  
  .debt-list th {
    background-color: #669BBC;
    color: #fff;
  }
  
  .debt-list tr:nth-child(even) {
    background-color: #59cd90;
  }
  
  .debt-list tr:hover {
    background-color: #82e085;
  }
  
  .debt-list .paid {
    background-color: #59cd90;
    color: #fff;
  }
  
  .debt-list .paid:hover {
    background-color: #82e085;
  }
  
  
  @media (max-width: 600px) {
    .debt-form {
      flex-direction: column;
    }
    
    .debt-form label,
    .debt-form input {
      width: 100%;
      margin-bottom: 10px;
    }
    
    .debt-form button {
      width: auto;
      margin-top: 10px;
    }
    
    .debt-list th,
    .debt-list td {
      font-size: 14px;
    }
  }
  
